USE [AgenciaViagens]
GO
/****** Object:  Table [dbo].[Altura]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Altura](
	[ID] [int] NOT NULL,
	[EPOCA] [text] NOT NULL,
	[DESCRICAO] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CC] [bigint] NOT NULL,
	[PRIMEIRO_NOME] [text] NOT NULL,
	[ULTIMO_NOME] [text] NOT NULL,
	[NOME_MEIO] [text] NOT NULL,
	[PROFISSAO] [text] NOT NULL,
	[EMAIL] [varchar](40) NULL,
	[NUM_TELEMOVEL] [bigint] NULL,
	[LOCALIDADE] [varchar](20) NOT NULL,
	[RUA] [varchar](40) NOT NULL,
	[CODIGO_POSTAL] [varchar](8) NOT NULL,
	[PAIS] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NUM_TELEMOVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[ID] [int] NOT NULL,
	[LOCAL_TURISTICO] [text] NOT NULL,
	[ID_LOCALIDADE] [int] NOT NULL,
	[ID_TIPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elemento]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elemento](
	[ID_VIAGEM] [int] NULL,
	[CC_CLIENTE] [int] NOT NULL,
	[CC_CLIENTE_PAGADOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CC_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[ID_LOCALIDADE] [int] NOT NULL,
	[NOME] [text] NOT NULL,
	[PAIS] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistoViagem]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistoViagem](
	[ID_VIAGEM] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[DAT] [date] NOT NULL,
	[DAT_PAGAMENTO] [date] NOT NULL,
	[HORA_PARTIDA_PREV] [time](7) NOT NULL,
	[HORA_PARTIDA_REAL] [time](7) NOT NULL,
	[HORA_CHEGADA_PREV] [time](7) NOT NULL,
	[HORA_CHEGADA_REAL] [time](7) NOT NULL,
	[PRECO_VIAGEM] [int] NOT NULL,
	[PRECO_PROMOCAO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VIAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Destino]    Script Date: 14/01/2020 09:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Destino](
	[ID] [int] NOT NULL,
	[NOME] [text] NOT NULL,
	[DESCRICAO] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
